@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

:root{
    --cor0: #00122c;
    --cor1: #001F4D;
    --cor2: #3D76CC;
    --cor3: #003380;
    --cor4: #0052CC;
    --cor5: #003B95;

    --fonte-titulo: "Concert One", sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.imagem-principal{
    background-image: url(imagens/imagemfundo1400x933.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh; /* Define a altura da imagem como 100% da altura da tela */
}

.imagem-principal nav{
    background-color: white;
    display: flex;
    justify-content: center;
}

.imagem-principal nav a{
    display: block;
    color: rgba(0, 0, 0, 0.568);
    margin: 10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

main{
    background-color: #00122c;
    padding-bottom: 30px;
}

.container {
    margin: auto;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .item {
    width: 180px;
    justify-content: center;
    align-items: center;
    margin: 30px;
    text-align: center;
  }

  .item h2{
    color: white;
  }


  img {
    width: 150px;
    height: 150px;
    padding: 10px;
  }

  @media screen and (max-width: 600px) {
    .item {
      width: 100%;
      justify-content: left;
      margin: 0;
    }
  }

.div-secundario{
    background-color: #4644cf;
    max-width: 1000px;
    margin: auto;
    box-shadow: 0 0 10px #0052CC;
    padding-bottom: 40px;
}

article h2{
    color: white;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    font-family: var(--fonte-titulo);
    font-size: 5em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.473);
}

.div-caixa{
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.box{
  background-color: #003B95;
  flex-wrap: wrap;
  width: 200px;
  height: 200px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.box img{
  width: 100px;
  height: 100px;
}

.box h3{
  position: absolute;
  color: white;
  text-decoration: none;
  text-align: center;
  top: 0;
  padding-top: 15px;
}

footer{
    width: 100%;
    min-height: 200px;
    background-color: #444;
    display: flex;
}

.boxs{
  width: 320px;
  min-height: 150px;
  padding: 20px;
}

.boxs:nth-child(4){ /*para dizer largura da minha coluna 4*/
  width: 400px;
}

.boxs h2{
  color: #fff;
  margin-bottom: 20px;
}

li{
  margin: 10px 0px;
  list-style-type: none;
}

.boxs ul li a{
  color: #ddd;
  text-decoration: none;
}

.boxs ul li a:hover{
  color: #fff;
}

.boxs p{
  color: #fff;
  text-align: justify;
}


@media(max-width: 950px){
 
footer{
  flex-direction: column;
}

.boxs{
  width: 100%;
  text-align: center;
  padding: 20px;
}

.boxs:nth-child(4){
  width: 100%;
}

}

.fim-footer{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    background: #333;
    justify-content: space-between;
    padding: 0px 20px;

}

.sociais{
    display: flex;
}

.fim-footer h2{
  color: white;
}

.social{
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background: #ddd;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 1s;
}

.social:hover{
  background: #444;
}

.social:hover a{
  color: #fff;
}

.social a {
  color: #000;
  font-size: 1.5em; /*este fonte seze da para alterar a altura das imagens das redes socias*/
}





