@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

:root{
    --cor0: #00122c;
    --cor1: #001F4D;
    --cor2: #3D76CC;
    --cor3: #003380;
    --cor4: #0052CC;
    --cor5: #003B95;

    --fonte-titulo: "Concert One", sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

.imagem-principal{
    background-image: url(imagens/imagemfundo1400x933.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh; /* Define a altura da imagem como 100% da altura da tela */
}

.imagem-principal nav{
    background-color: white;
    display: flex;
    justify-content: center;
}

.imagem-principal nav a{
    display: block;
    color: rgba(0, 0, 0, 0.568);
    margin: 10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

main{
    background-color: #00122c;
    padding-bottom: 30px;
}

.container {
    margin: auto;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .item {
    width: 180px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 30px;
  }

  .item h2{
    color: white;
  }


  img {
    width: 50px;
    height: 50px;
    padding: 10px;
  }

  @media screen and (max-width: 600px) {
    .item {
      width: 100%;
      justify-content: left;
      margin: 0;
    }
  }

.div-secundario{
    background-color: #4644cf;
    max-width: 1000px;
    height: 500px;
    margin: auto;
    box-shadow: 0 0 10px #0052CC;
}

article h2{
    color: white;
    text-align: center;
    padding-top: 40px;
    font-family: var(--fonte-titulo);
    font-size: 80px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.473);
}

footer{
    background-color: white;
    padding-top: 15px;
    text-align: center;
}